/* index.css */
/* 반응형 CSS 속성 변경 시 애니메이션 적용 속성 */
body * {transition:all 0.5s;}
/* 1행===========================북극곰 후원 안내 */
#wrap {} /* 기본값 유지를 위해 작성하지 않음. 기본값->너비는 부모의 100%, 높이는 내용만큼 */
#wrap .intro {
    height:100vh;
background:url(../images/bg1.png) no-repeat center/cover;
position:relative; /* padding-top:100px; */
}
#wrap .intro::after {
    content:''; display:block;/* 가상요소의 필수속성 */ 
    width:100%; height:100%;
    background:linear-gradient(360deg,rgba(0,0,0,0.8),transparent); 
    position:absolute; top:0; left:0; z-index:100;
}
#wrap .intro .container {/* 반응형웹 만들 때 크기 고정값이 있는 첫번째에게 max-크기와 min-크기를 준다 */
    position:relative; z-index:200; top:100px; left:0;
    max-width:1250px; /* padding-top:100px; */
    min-width:320px;
    margin:0 auto;/* 디바이스 크기보다 width가 작은 블록요소를 가운데배치하는 방법 */
    /* 형제-형제 margin, 부모-자식 padding */
    /* 자식, 자손이 인라인일 경우 수평정렬 text-align */
    text-align:center;
    /* 자식의 float 적용으로 인해 부모바깥으로 나가는 문제해결 */
    overflow:hidden;
}
#wrap .intro .container h1:first-child {text-align:left; margin-bottom:100px;}
#wrap .intro .container h1:first-child a {}
#wrap .intro .container h1:first-child a img {width:89px;}
#wrap .intro .container h1:nth-child(2) {
    color:#fff;
    font-size:4.375rem;
    line-height:1.3;
}
#wrap .intro .container h1:nth-child(2) em {color:#fff; font-weight:700;}
#wrap .intro .container .sponsor_btn {
    display:block; color:#fff; background:linear-gradient(90deg,#FE9300, #FF7300); 
    width:409px; /* height:71px; *//* 수직중앙 배치해야하는 글자가 1중일 경우 height생략가능. line-height만 px값으로 적용 */
    border-radius:50px;
    margin:100px auto; line-height:71px;
    font-size:2.125rem; font-weight:700;
}
#wrap .intro .container .sponsor_question {float:right; font-size:1.625rem; color:#fff; background-color:#050505; border-radius:30px; /* padding:10px 30px; */ width:439px; height:51px; line-height:1.2; padding-top:10px;}
/* 2행===========================퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover;
    padding:150px 0;
}
#wrap .quiz .container {
    max-width:1250px;
    min-width:320px;
    border:2px solid red;
    display:grid; /* 왼쪽퀴즈, 오른쪽참여현황 정렬grid */
    grid-template-columns:1fr 1fr;
    margin:0 auto;
}
#wrap .quiz .container #left_quiz * {
    color:#fff;
    font-size:1.25rem;
}
#wrap .quiz .container #left_quiz {}
#wrap .quiz .container #left_quiz h2 {text-align:center; font-size:3.438rem;}
#wrap .quiz .container #left_quiz p {margin:38px 0 8px;}
#wrap .quiz .container #left_quiz .list {
    display:grid;
    grid-template-rows:repeat(4,34px);
    gap:14px;
}
#wrap .quiz .container #left_quiz .list label {}
#wrap .quiz .container #left_quiz .list label input[name^=group] {display:none;}
#wrap .quiz .container #left_quiz .list label input[name^=group]:checked + span {
    background-image:url(../images/chk_on.png);
}
#wrap .quiz .container #left_quiz .list label span {
    background-image:url(../images/chk_off.png);
    display:block;
    background-repeat:no-repeat;
    padding-left:48px;
    line-height:34px;
    background-position-y:4px;
}
#wrap .quiz .container #left_quiz #answer_btn {
    background-color:#050505; width:100%;
    height:54px; border-radius:50px;
    margin-top:37.83px;
}
#wrap .quiz .container .right {text-align:right;}
#wrap .quiz .container .right p {}
#wrap .quiz .container .right p:nth-child(1) {margin:68.92px 0 20px;}
#wrap .quiz .container .right p:nth-child(1) img {width:500px;/* width:100%; */}
#wrap .quiz .container .right p:nth-child(2) {color:#fff;}
/* 3행===========================새끼북극곰 이야기 */
#wrap .ad {
    background:url(../images/video_bg.png) no-repeat right / cover;
    padding:200px 0;
}
#wrap .ad .container {
    max-width:1250px; min-width:320px;
    margin:0 auto;
    text-align:center; border:1px solid coral;
}
#wrap .ad .container h2 {font-size:3.438rem; font-weight:500; line-height:1.2; margin-bottom:70px;}
#wrap .ad .container iframe {max-width:900px; height:600px; width:100%;}
#wrap .ad .container .sponsor_btn {
    display:block; color:#fff; background:linear-gradient(90deg,#FE9300, #FF7300); 
    width:409px; /* height:71px; *//* 수직중앙 배치해야하는 글자가 1중일 경우 height생략가능. line-height만 px값으로 적용 */
    border-radius:50px;
    margin:70px auto 0; line-height:71px;
    font-size:2.125rem; font-weight:700;
}
/* 4행===========================빙하면적감소 */
/* 5행===========================인류재앙 */
/* 6행===========================지구위기 */
/* 7행===========================WWF단체홍보 */
/* 8행===========================다양한활동 */
/* 9행===========================감사선물 */
/* 10행===========================결제 안내사항 */